.pagination{
    float: right;
}
.page_info{ padding-bottom: 20px; padding-top:20px; float: left; width: 100%;}
.page_info_content{ width: 50%; float: left; line-height: 33px; }
.page_info_content ul{ padding: 0; margin: 0;}