<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <img src="/assets/v-logo.png" height="41" width="200">
  </div>
  <div class="pull-right">
    <li class="dropdown user user-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
        <i class="glyphicon v-glyphicon" style=""><img src="/assets/person.png"/></i>
		<span>Jane Doe<i class="caret"></i>
		</span>
      </a>
      <ul class="dropdown-menu v-menu">
        <li class="user-header bg-light-blue">
          <img class="img-circle" src="/assets/peseron.jpg" alt="User Image">
          <p>
            梁公公,欢迎你！ <small>Member since Nov. 2012</small>
          </p>
        </li>
        <li class="user-footer">
          <div class="pull">
            <a class="btn btn-default btn-flat v-btn" href="#">个人资料</a>
          </div>
          <div class="pull">
            <a class="btn btn-default btn-flat" href="#">添加用户</a>
          </div>
          <div class="pull">
            <a class="btn btn-default btn-flat" href="#">退出用户</a>
          </div>
        </li>
      </ul>
    </li>
  </div>
</div>