<aside class="left-side sidebar-offcanvas" style="min-height:900px;">
  <div class="user-panel">
    <div class="pull-left image">
      <img class="img-circle" src="/assets/peseron.jpg" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Hello, Jane</p>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseOne">
            用户管理<i style="float:right;"><img src="/assets/date.png"></i>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p><a href="/users">普通用户</a><i style="float:right;"><img src="/assets/date.png"></i></p>
          <p><a href="/managers">系统用户</a><i style="float:right;"><img src="/assets/date.png"></i></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseTwo">
            选项二
          </a><i style="float:right;"><img src="/assets/date.png"></i>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p><a href="#">选项2-1</a><i style="float:right;"><img src="/assets/date.png"></i></p>
          <p><a href="#">选项2-2</a><i style="float:right;"><img src="/assets/date.png"></i></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
             href="#collapseThree">
            选项三
          </a><i style="float:right;"><img src="/assets/date.png"></i>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p><a href="#">选项3-1</a><i style="float:right;"><img src="/assets/date.png"></i></p>
          <p><a href="#">选项3-2</a><i style="float:right;"><img src="/assets/date.png"></i></p>
        </div>
      </div>
    </div>
  </div>


</aside>
<aside class="right-side">
</aside>